<include file="./Application/Dashboard\View/Common/header.html"/>
<include file="./Application/Dashboard\View/Common/left.html"/>
<div class="container" id="container" style="width: 100%;">
	<div class="row">
		<div class="bs-callout bs-callout-info" id="callout-tables-responsive-overflow">
		<h3>采购管理</h3>
	    <p>查看和管理商品采购</p>
	  	</div>
	</div>
	<div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>购物流程</strong>：创建分类信息->创建商品信息-><strong>创建采购信息</strong>--->创建买家会员信息->创建订单信息
	</div>
	<div class="row">
	 	<div class="col-xs-6">
		</div>
		<div class="col-xs-6" style="text-align: right">
			<if condition="$_SESSION['admin_gid'] eq 1">
			<a href="{:U('Purchase/addnew')}" class="btn btn-primary"  >新增</a>
			</if>
			<a href="{:U('Purchase/index')}" class="btn btn-default"  >刷新</a>
			<a href="{:U('Purchase/export')}" class="btn btn-default"  >导出</a>
		</div>
	</div>
	<p></p>
	<div class="row">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">采购管理
              <!-- <span class="badge">1</span> -->
              </h4>
            </div>
            <div class="panel-body">
            	<div class="table-responsive">
             	<table class="table table-striped table-hover table-condensed">
                <thead>
                  <tr>
                  	<th>序号</th>
	                <th>商品代码</th>
	                <th>商品名称</th>
	                <th>供应商</th>
	                <th>单价(元)</th>
	                <th>入库数量</th>
	                <!-- <th>库存</th> -->
	                <!-- <th>已售</th> -->
	                <th>采购时间</th>
	                <th>入库时间</th>
	                <th>订单状态</th>
	                <th>操作</th>
              	 </tr>
                </thead>
                <tbody>
	                <volist name="Purchase" id="list" empty="暂时没有数据" key="k" >
						<tr>
							<td>{$k}</td>
							<td>{$list.goods_sn}</td>
							<td>{$list.goods_name}</td>
							<td>{$list.supplier}</td>
							<td>{$list.in_price}</td>
							<td>{$list.in_num}</td>
							<!-- <td><span class="red">{$list['in_num'] - $list['out_num']}</span></td> -->
							<!-- <td>{$list.out_num}</td> -->
							<td>{$list.purchase}<!-- {$list.dateline|date='Y-m-d',###} --></td>
							<td>{$list.dateymd}<!-- {$list.dateline|date='Y-m-d',###} --></td>
							<td>
								<div class="btn-group">
								<a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
									<if condition="$list['order_status'] eq 0"><span class ="red">已确认</span></if>
									<if condition="$list['order_status'] eq 1"><span class ="red">已付款</span></if>
									<if condition="$list['order_status'] eq 2"><span class ="red">已发货</span></if>
									<if condition="$list['order_status'] eq 3"><span class ="green">已完成</span></if>
									<if condition="$list['order_status'] eq 4"><span class ="yellow">退货中</span></if>
									<if condition="$list['order_status'] eq 5"><span class ="yellow">已退货</span></if>
									<span class="caret"></span>
								</a>
								<if condition="$_SESSION['admin_gid'] eq 1">
								<if condition="$list['order_status'] neq  5">
									<ul class="dropdown-menu pull-right">
										<if condition="$list['order_status'] elt 0">
											<li><a href="{:U('Purchase/status',array('id'=>$list['id'],'order_status'=>1))}">已付款</a> 
											</li> 
										</if>
										<if condition="$list['order_status'] elt 1">
											<li><a href="{:U('Purchase/status',array('id'=>$list['id'],'order_status'=>2))}">已发货</a> 
											</li> 
										</if>
										<if condition="$list['order_status'] elt 2">
											<li><a href="{:U('Purchase/status',array('id'=>$list['id'],'order_status'=>3))}">已完成</a> 
											</li> 
										</if>
										<if condition="$list['order_status'] elt 3">
											<li><a href="{:U('Purchase/status',array('id'=>$list['id'],'order_status'=>4))}">退货中</a> 
											</li> 
										</if>
										<if condition="$list['order_status'] elt 4">
											<li><a href="{:U('Purchase/status',array('id'=>$list['id'],'order_status'=>5))}">已退货</a> 
											</li> 
										</if>
									</ul>
								</if>
								</if>
							</div>
							</td>
							<td>
							<if condition="$_SESSION['admin_gid'] eq 1">
							<a href="{:U('Purchase/add',array('goods_id'=>$list['goods_id']))}" class="btn btn-sm btn-success" title="新增入库">新增入库</a>
							<a href="{:U('Purchase/add',array('id'=>$list['id'],'ac'=>'add'))}" class="btn btn-sm btn-primary" title="追加库存">追加库存</a>
							<a href="{:U('Purchase/edit',array('id'=>$list['id'],'ac'=>'edit'))}" class="btn btn-sm btn-primary" title="编辑">编辑</a>
							<a href="{:U('Purchase/delete',array('id'=>$list['id']))}" onclick="return(confirm('只有入库错误的时候才使用，你确认入库错误?'))" class="btn btn-sm btn-danger" title="只有入库错误的时候才使用，你确认入库错误" >删除</a>
							</if>
							</td>
						</tr> 
					</volist>	
                </tbody>
              </table>
	          </div>
              <div class="sabrosus">{$page}</div>
            </div>
          </div>
        </div>
      </div>
</div>
<include file="./Application/Dashboard\View/Common/footer.html"/>