<!-- <link rel="stylesheet" href="__PUBLIC__/assets/simpla/css/reset.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/assets/simpla/css/style.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/assets/simpla/css/invalid.css" type="text/css" /> -->
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/WdatePicker/WdatePicker.js"></script>
<link rel="stylesheet" href="__PUBLIC__/bootstrap/bootstrap.min.css" type="text/css" media="screen" />
<!-- 扁平化的主题需要注释掉以下代码 -->
<!-- <link rel="stylesheet" href="__PUBLIC__/bootstrap/bootstrap-theme.min.css" type="text/css" media="screen" />
 --> 
 <link rel="stylesheet" href="__PUBLIC__/bootstrap/docs.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__PUBLIC__/bootstrap/font-awesome/css/font-awesome.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__PUBLIC__/css/page.css" type="text/css" media="screen" />
<!-- <script type="text/javascript" src="__PUBLIC__/assets/js/holder.js" ></script> -->
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.9.1.js" ></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/bootstrap.js" ></script>