<include file="./Application/Dashboard\View/Common/header.html"/>
<include file="./Application/Dashboard\View/Common/left.html"/>
<div class="container" id="container" style="width: 100%;">
	<div class="row">
		<div class="bs-callout bs-callout-info" id="callout-tables-responsive-overflow">
		<h3>版权声明</h3>
	    <!-- <p>查看和管理分类 </p> -->
	  	</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
              	声明：
              <!-- <span class="badge">1</span> -->
              </h4>
            </div>
            <div class="panel-body">
	            <blockquote>
	            	<span class="label label-primary">1</span>
	            	<p>
	            	本系统为个人设计、开发、测试、销售，非开源产品，未经授权不允许用于商业、个人用途。
	            	</p>
	            	<span class="label label-primary">2</span>
	            	<p>
	            	购买授权方式可通过点击底部导航栏中<a href="{:U('Helper/buy')}">购买授权</a>菜单进行了解。
	            	</p>
	            	<span class="label label-primary">3</span>
	            	<p>
	            	如果您对该系统有建议和需求，可通过点击底部导航栏中<a href="{:U('Helper/feedback')}">意见反馈</a>菜单，进入意见反馈模块，提交后会通过邮箱的方式将反馈信息发送到我们的邮箱（前提需要连接网络）。
	            	</p>
	            	<span class="label label-primary">4</span>
	            	<p>
	            	或者直接通过点击底部导航栏中<a href="{:U('Helper/link')}">联系我们</a>菜单，进入联系我们模块，其中有我们的QQ、邮箱、微信信息。
	            	</p>
	            </blockquote>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
              	说明：
              <!-- <span class="badge">1</span> -->
              </h4>
            </div>
            <div class="panel-body">
	            <blockquote>
	            	<span class="label label-primary">1</span>
	            	<p>
	            	开发一个系统是需要投入精力与人力的，请尊重我们的劳动成果，所以如果觉得该产品能够帮您更好的做好日常管理，那么请联系我们，并且支付一定购买费用。
	            	</p>
	            	<span class="label label-primary">2</span>
	            	<p>
	            	该系统正在申请著作权登记，且申请知识产权是需要收费的，所以请理解我们不把产品免费提供给他人使用的苦衷。
	            	</p>
	            	<span class="label label-primary">3</span>
	            	<p>
	            	虽然我们对系统做了部分加密，但是依然无法避免盗版的发生，所以我们的合作是建立在互相信任的基础上的。且购买授权后我们还将提供更多的定制化服务，这是盗版所无法取代的，
	            	</p>
	            </blockquote>
            </div>
          </div>
        </div>
      </div>
</div>
<include file="./Application/Dashboard\View/Common/footer.html"/>