<include file="./Application/Dashboard\View/Common/header.html"/>
<include file="./Application/Dashboard\View/Common/left.html"/>
<div class="container" id="container" style="width: 100%;">
	<div class="row">
		<div class="bs-callout bs-callout-info" id="callout-tables-responsive-overflow">
		<h3>购买授权</h3>
	    <!-- <p>查看和管理分类 </p> -->
	  	</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
              	说明：
              <!-- <span class="badge">1</span> -->
              </h4>
            </div>
            <div class="panel-body">
	            <blockquote>
	            	<span class="label label-primary">1</span>
	            	<p>
					<br>
	            	该系统单价200RMB，负责初次部署，支持进行一次迁移，负责进行系统培训。
					<br>
					<br>
					支持功能定制，根据复杂度与工作量定价，前期由于系统处于不断完善过程中，因此针对近期购买的用户，我们将提供免费的定制化服务。
					<br>
					<br>
					对于系统出现的BUG，会尽快进行免费修复。
	            	</p>
	            	<span class="label label-primary">2</span>
	            	<p>
					<br>
	            	承接类似网站、软件项目，包括CMS、ERP、ECM、SNS、电商、官网等网站项目以及微信公众平台、触屏版网站、手机APP等移动端项目。
					<br>
					<br>
					如果有类似需求，欢迎<a href="{:U('Helper/link')}">联系我们</a>。
	            	</p>
	            </blockquote>
            </div>
          </div>
        </div>
      </div>
</div>
<include file="./Application/Dashboard\View/Common/footer.html"/>