<include file="./Application/Dashboard\View/Common/header.html"/>
<include file="./Application/Dashboard\View/Common/left.html"/>
<div class="container" id="container" style="width: 100%;">
	<div class="row">
		<div class="bs-callout bs-callout-info" id="callout-tables-responsive-overflow">
		<h3>使用说明</h3>
	    <!-- <p>查看和管理分类 </p> -->
	  	</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">流程图
              <!-- <span class="badge">1</span> -->
              </h4>
            </div>
            <div class="panel-body">
            <img alt="" style="" src="__PUBLIC__/assets/images/flowchart.png">
            </div>
          </div>
        </div>
      </div>
</div>
<include file="./Application/Dashboard\View/Common/footer.html"/>