<include file="./Application/Dashboard\View/Common/header.html"/>
<include file="./Application/Dashboard\View/Common/left.html"/>
<div class="container" id="container" style="width: 100%;">
	<div class="row">
		<div class="bs-callout bs-callout-info" id="callout-tables-responsive-overflow">
		<h3>系统说明</h3>
	    <p>ERP系统是企业资源计划(Enterprise Resource Planning )的简称 </p>
	  	</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            	<div class="page-header">
				  <h3>系统简介</h3>
				</div>
            	<blockquote>
				<p>
				&nbsp;&nbsp;ERP系统是企业资源计划(Enterprise Resource Planning )的简称，是指建立在信息技术基础上，以系统化的管理思想，为企业决策层及员工提供决策运行手段的管理平台。它是从MRP（物料需求计划）发展而来的新一代集成化管理信息系统，它扩展了MRP的功能，其核心思想是供应链管理。它跳出了传统企业边界，从供应链范围去优化企业的资源。ERP系统集信息技术与先进管理思想于一身，成为现代企业的运行模式，反映时代对企业合理调配资源，最大化地创造社会财富的要求，成为企业在信息时代生存、发展的基石。它对于改善企业业务流程、提高企业核心竞争力具有显著作用。
				</p>
				</blockquote>
            	<div class="page-header">
				  <h3>主要特性</h3>
				</div>
            	<blockquote>
					<h3><strong>实用性</strong></h3>

					<p>ERP系统实际应用中更重要的是应该体现其“管理工具”的本质。　erp系统主要宗旨是对企业所拥有的人、财、物、信息、时间和空间等综合资源进行综合平衡和优化管理，erp软件协调企业各管理部门，erp系统围绕市场导向开展业务活动，提高企业的核心竞争力，erp软件从而取得最好的经济效益。所以，ERP系统首先是一个软件，同时是一个管理工具。erp软件是IT技术与管理思想的融合体，erp系统也就是先进的管理思想借助电脑，来达成企业的管理目标。
					</p>
					<h3><strong>整合性</strong></h3>
					
					<p>ERP最大特色便是整个企业信息系统的整合，比传统单一的系统更具功能性。</p>
					<h3><strong>弹性</strong></h3>
					
					<p>采用模块化的设计方式，使系统本身可因应企业需要新增模块来支持并整合，提升企业的应变能力。</p>
					<h3><strong>数据储存</strong></h3>
					
					<p>将原先分散企业各角落的数据整合起来，使数据得以一致性，并提升其精确性。</p>
					<h3><strong>便利性</strong></h3>
					
					<p>在整合的环境下，企业内部所产生的信息透过系统将可在企业任一地方取得与应用。</p>
					<h3><strong>管理绩效</strong></h3>
					
					<p>ERP系统将使部分间横向的联系有效且紧密，使得管理绩效提升。</p>
					<h3><strong>互动关系</strong></h3>
					
					<p>透过ERP系统配合选软件网在线试用以及供应4500万家中小企业了解管理模式，使企业与原物料供货商之间紧密结合，增加其市场变动的能力。而客户关系管理模式则使企业充分掌握市场需要取向的动脉，两者皆有助于促进企业与上下游的互动发展关系。
					</p>
					<h3><strong>实时性</strong></h3>
					
					<p>ERP是整个企业信息的整合管理，重在整体性，而整体性的关键就体现在“实时和动态管理”上，所谓“兵马未动，粮草先行”，强调的就是不同部门的“实时动态配合”，现实工作中的管理问题，也是部门协调与岗位配合的问题，因此缺乏“实时动态的管理手段和管理能力”的ERP管理，就是空谈。
					</p>
					<h3><strong>及时性</strong></h3>
					
					<p>ERP管理的关键是“现实工作信息化”，即把现实中的工作内容与工作方式，用信息化的手段来表现，因为人的精力和能力是有限的，现实事务达到一定的繁杂程度后，人就会在所难免的出错，将工作内容与工作方式信息化，就能形成ERP管理的信息化体系，才能拥有可靠的信息化管理工具。
					</p>
				</blockquote>
            </div>
</div>
<include file="./Application/Dashboard\View/Common/footer.html"/>