<include file="./Application/Erp/View/Common/header.html"/>
<include file="./Application/Erp/View/Common/left.html"/>
<div class="container" id="container" style="width: 100%;">
	<div class="row">
		<div class="bs-callout bs-callout-info" id="callout-tables-responsive-overflow">
		<h3>联系我们</h3>
	    <p>周一~周五：18:00-22:00 </p>
	    <p>周六、周日：10:00-22:00 </p>
	  	</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">联系方式
              <!-- <span class="badge">1</span> -->
              </h4>
            </div>
            <div class="panel-body">
			
				<div class="panel panel-default">
	              <div class="panel-heading">QQ</div>
				  <div class="panel-body">
					  421214176
					  <br>
	            	  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=421214176&amp;site=qq&amp;menu=yes" title="QQ: 421214176"><img border="0" src="http://wpa.qq.com/pa?p=2:421214176:51" style=" vertical-align: middle;"></a>
					  <br>
					  26853257
					  <br>
	            	  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=26853257&amp;site=qq&amp;menu=yes" title="QQ: 26853257"><img border="0" src="http://wpa.qq.com/pa?p=2:26853257:51" style=" vertical-align: middle;"></a>
					  <br>
				  </div>
				</div>
				
				<div class="panel panel-default">
	              <div class="panel-heading">  邮箱：jasonmoke@163.com</div>
				  <div class="panel-body">
				   <a target="_blank" href="mailto:beyond_ggc@foxmail.com?subject=【进销存系统】" class="btn btn-success" title="beyond_ggc@foxmail.com">发送邮件</a>
				  </div>
				</div>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>
<include file="./Application/Erp/View/Common/footer.html"/>